<!DOCTYPE html>

<html>
    <head>
        <title>Country Info</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
          body {
            background-repeat: no-repeat;
            background-size: cover;
          }
          button {
            background: transparent;
            border: 0 none;
          }
        </style>
        <script src="{{ url_for('static', filename='script/modal.js') }}"></script>
    </head>

    <body background="{{ url_for('static', filename='script/plane.jpeg') }}">

        <button onclick="window.location.href='/'"><img src="{{ url_for('static', filename='script/logo.png') }}" alt="logo"
            width="250" height="150"></button>

      <div style="position:relative;left:200px;bottom:5px;height:400px;width:800px;overflow:auto;border:5px solid black;padding:1.2%;background-color:white;color:black;scrollbar-base-color:gold;font-family:arial;padding:15px;">

            <form action="/covidRate" method="POST">
              <p><input type = "submit" value = "Let's find out covid rate~!" /></p>
            </form>

            <form action="/vaxRate" method="POST">
              <p><input type = "submit" value = "Let's find out vaccination rate~!" /></p>
            </form>

            <button class="button button1" onclick="moreDetails()">Click here for more details</button>

            <hr size="2" width="100%" color="white">
            {% for item in country_res %} 
            <h1>{{item.country}}</h1>
            <h1>Population: {{item.population}}</h1>
            <hr size="2" width="100%" color="white">
        {% endfor %}
        <h1>Airports</h1>
        {% for item in airport_res %}
            <h3>{{item.airport_name}}</h3>
            <h3>{{item.airport_code}}</h3>
        {% endfor %}



        <h1>Rate: {{rate}}</h1>
      </div>
        <!-- <button id="backButton">Return Home</button> -->
    </body>



</html>