<!DOCTYPE html>

<html>
    <head>
        <title>More Details</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
          body {
            background-repeat: no-repeat;
            background-size: cover;
          }
          button {
            background: transparent;
            border: 0 none;
          }
        </style>
        <script src="{{ url_for('static', filename='script/modal.js') }}"></script>
    </head>

    <body background="{{ url_for('static', filename='script/plane.jpeg') }}">
        <button onclick="window.location.href='/'"><img src="{{ url_for('static', filename='script/logo.png') }}" alt="logo"
            width="250" height="150"></button>
    </body>
</html>