<!DOCTYPE html>

<html>

<head>
  <title>User Profile</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      background-repeat: no-repeat;
      background-size: cover;
    }
    button {
      background: transparent;
      border: 0 none;
    }
  </style>
  <script src="{{ url_for('static', filename='script/modal.js') }}"></script>

</head>

<body background="{{ url_for('static', filename='script/plane.jpeg') }}">
  <button onclick="window.location.href='/'"><img src="{{ url_for('static', filename='script/logo.png') }}" alt="logo"
      width="250" height="150"></button>



    {% if city is defined %}
      
    {% else %}
    <script type="text/javascript">
      showDestinationCity();
    </script>
    {% endif %}

  {% if valid == "False" %}
  <script>alert("Invalid Destination City");</script>
  {% endif %}

  
  <form class="formContainer"></form>
    <h2>Update User</h2>
    <label for="userFirstName">
      <strong>First Name</strong>
    </label>
    <input type="text" id="userFirstNameUpdate" placeholder="First Name" name="userFirstName" required>

    <label for="userLastName">
      <strong>Last Name</strong>
    </label>
    <input type="text" id="userLastNameUpdate" placeholder="Last Name" name="userLastName" required>

    <label for="destinationCity">
        <strong>Destination City</strong>
    </label>
    <input type="text" id="destinationCityUpdate" placeholder="Destination City" name="destinationCity">

    <label for="email">
        <strong>Email</strong>
    </label>
    <input type="text" id="emailUpdate" placeholder="Email" name="email" required>

    <label for="password">
        <strong>Password</strong>
    </label>
    <input type="password" id="passwordUpdate" placeholder="Password" name="password" required>

    <button type="submit" class="btn" onclick="update()">UPDATE</button>
  </form>

  <br>

  <h2> Destination City : {{city}} </h2>

  <br>

  <h1>Rate an Airport!</h1>
  <form>
    <label for="numberRating">Rating of Airport from 1-10</label>
    <input id="numberRating" type="number" min="1" max="10" />
    <br>
    <label for="review">Write a review!</label>
    <textarea id="review" name="review" rows="10" cols="50"></textarea>
    <button type="submit" class="btn" onclick="createRating()"><u>Submit Review</u></button>
  </form>

  <br>
  <h2>Delete User</h2>
  <input type="text" id="deleteEmail" placeholder="Email to delete" required>
    <button id="button" onclick="deleteOne()">DELETE</button>

</body>

</html>
