<!DOCTYPE html>

<html>
    <head>
        <title>Country Info</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
          button {
            background: transparent;
            border: 0 none;
          }
        </style>
    </head>

    <body background="{{ url_for('static', filename='script/plane.jpeg') }}">
        <BODY TEXT="WHITE">
        <button onclick="window.location.href='/'"><img src="{{ url_for('static', filename='script/logo.png') }}" alt="logo"
            width="250" height="150"></button>
            <hr size="2" width="100%" color="white">  
        {% for item in res_ %} 
            <h1>{{item.airport}}</h1>
            <h1>{{item.country}}</h1>
            <h1>Vaccination Rate: {{item.vaccinationRate}}</h1>
            <hr size="2" width="100%" color="white">  
        {% endfor %}

        <!-- <button id="backButton">Return Home</button> -->
    </body>
</html>